<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/cd5f7809-b107-4a80-a511-90f199f00f79/resourceGroups/bookeat/providers/Microsoft.Web/sites/bookeat</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://bookeat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>bookeat.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bookeat</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bookeat</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>